.form__container {
    padding: 20px;
    background-color: #00a0461a;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  
    box-shadow: 7px 7px 14px #cccccc, -7px -7px 14px #f4f4f4;
  }
  
  .form__text {
    font-size: 50px;
    color: #00a046;
  }